<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="hyvarewards" frontName="hyvarewards">
            <module name="Hyva_AmastyRewards" before="Magento_Core" after="Amasty_Rewards" />
        </route>
    </router>
</config>
